.btn-group {
  display: flex;
  align-items: flex-start;
}

.btn-group.vertical {
  flex-direction: column;
  gap: 18px;
}

.btn-group.horizontal {
  flex-direction: row;
  gap: 10px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  padding: 0 14px;
  border-radius: 6px;
  border: none;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn:hover {
  filter: brightness(0.85);
}

.btn:active {
  transform: translateY(6px);
}

.btn-secondary {
  background-color: lightgray;
  box-shadow: 0 8px 0 #b9b9b9;
  color: #333;
}

.btn-secondary:active {
  box-shadow: 0 2px 0 #b9b9b9;
}

.btn-primary {
  background-color: royalblue;
  box-shadow: 0 8px 0 #395dc9;
}

.btn-primary:active {
  box-shadow: 0 2px 0 #395dc9;
}

.btn-danger {
  background-color: red;
  box-shadow: 0 8px 0 #e30404;
}

.btn-danger:active {
  box-shadow: 0 2px 0 #e30404;
}

.hloader {
  --hloader-color: white;
  --hloader-size: 20px;
  --hloader-weight: 3px;
  --hloader-duration: 1s;
  width: var(--hloader-size);
  height: var(--hloader-size);
  color: var(--hloader-color);
  border: var(--hloader-weight) solid;
  border-top-color: transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: hloader var(--hloader-duration) infinite linear;
}
@keyframes hloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
